.r-head{
       margin-bottom: 2rem;
}

.r-wrapper{
       margin-left: 10%;
       margin-right: 10%;
}

.r-card{
       display: flex;
       flex-direction: column;
       gap:0.6rem;
       padding: 1rem;
       border-radius: 10px;
       max-width: max-content;
       margin: auto;
       transition: all 200ms ease-in;

}
.r-card:hover{
       cursor: pointer;
  transform: scale(1.05);
}
.r-card>img{
       width: 100%;
       max-width: 15rem;
}


.r-button button{
       border-radius: 50px;
       outline: none;
       width: 40px;
       border: none;
       height: 40px;
       background: rgb(227, 226, 226);
       font-size: 25px;
       margin: 0px 5px;
       cursor: pointer;
}

